{
    "extends": ["stylelint-config-standard"],
    "plugins": ["stylelint-prettier", "stylelint-order"],
    "rules": {
        "unit-allowed-list": ["%", "deg", "px", "em", "s", "fr", "vh", "vw"],
        "declaration-block-no-duplicate-properties": true,
        "declaration-empty-line-before": [
            "always",
            {
                "except": ["first-nested"],
                "ignore": ["after-comment", "after-declaration"]
            }
        ],
        "selector-class-pattern": [
            "^([a-zA-Z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$",
            {
                "message": "invalid class name"
            }
        ],
        "selector-id-pattern": [
            "^([a-zA-Z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$",
            {
                "message": "invalid identifier name"
            }
        ],
        "selector-pseudo-element-colon-notation": "single",
        "color-no-invalid-hex": true,
        "font-family-no-duplicate-names": true,
        "function-calc-no-unspaced-operator": true,
        "media-query-no-invalid": true,
        "no-irregular-whitespace": true,
        "custom-property-no-missing-var-function": true,
        "declaration-no-important": true,
        "length-zero-no-unit": true,
        "no-empty-source": null,
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["export", "import", "global", "local"]
            }
        ],
        "property-no-unknown": [
            true,
            {
                "ignoreProperties": ["composes", "compose-with"]
            }
        ],
        "keyframe-selector-notation": "percentage",
        "function-url-quotes": "always",
        "selector-attribute-quotes": "always",
        "declaration-block-no-redundant-longhand-properties": true,
        "shorthand-property-no-redundant-values": true,
        "order/order": ["custom-properties", "declarations", "at-rules"],
        "order/properties-order": [
            [
                {
                    "groupName": "module",
                    "emptyLineBefore": "always",
                    "properties": ["composes", "compose-with"]
                },
                {
                    "groupName": "will-change",
                    "emptyLineBefore": "always",
                    "properties": ["will-change"]
                },
                {
                    "groupName": "content",
                    "emptyLineBefore": "always",
                    "properties": ["content"]
                },
                {
                    "groupName": "container",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "container",
                        "container-name",
                        "container-type"
                    ]
                },
                {
                    "groupName": "offset",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "margin",
                        "margin-bottom",
                        "margin-right",
                        "margin-left",
                        "margin-top",
                        "padding",
                        "padding-bottom",
                        "padding-right",
                        "padding-left",
                        "padding-top",
                        "box-sizing"
                    ]
                },
                {
                    "groupName": "floating",
                    "emptyLineBefore": "always",
                    "properties": ["float", "clear"]
                },
                {
                    "groupName": "contain",
                    "emptyLineBefore": "always",
                    "properties": [
                        "contain",
                        "contain-intrinsic-size",
                        "contain-intrinsic-width",
                        "contain-intrinsic-height",
                        "contain-intrinsic-block-size",
                        "contain-intrinsic-inline-size"
                    ]
                },
                {
                    "groupName": "display",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "align-self",
                        "grid-area",
                        "display",
                        "align-items",
                        "align-content",
                        "justify-content",
                        "flex-direction",
                        "flex-wrap",
                        "flex-flow",
                        "flex",
                        "flex-grow",
                        "flex-shrink",
                        "flex-basis",
                        "order",
                        "gap",
                        "grid",
                        "grid-template-areas",
                        "grid-template-columns",
                        "grid-auto-columns",
                        "grid-column-gap",
                        "grid-template-rows",
                        "grid-auto-rows",
                        "grid-row-gap",
                        "grid-template",
                        "grid-column",
                        "grid-row",
                        "grid-gap",
                        "grid-auto-flow",
                        "grid-column-start",
                        "grid-row-start",
                        "grid-column-end",
                        "grid-row-end",
                        "columns",
                        "column-count",
                        "column-width",
                        "column-fill",
                        "column-span",
                        "column-gap",
                        "column-rule",
                        "column-rule-color",
                        "column-rule-style",
                        "column-rule-width"
                    ]
                },
                {
                    "groupName": "dimensions",
                    "emptyLineBefore": "threshold",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "width",
                        "min-width",
                        "max-width",
                        "height",
                        "min-height",
                        "max-height",
                        "min-inline-size",
                        "min-block-size",
                        "max-inline-size",
                        "max-block-size"
                    ]
                },
                {
                    "groupName": "borders",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "border-collapse",
                        "border-spacing",
                        "border",
                        "border-width",
                        "border-style",
                        "border-color",
                        "border-image",
                        "border-image-outset",
                        "border-image-repeat",
                        "border-image-slice",
                        "border-image-source",
                        "border-image-width,",
                        "border-bottom",
                        "border-right",
                        "border-left",
                        "border-top",
                        "border-bottom-width",
                        "border-bottom-style",
                        "border-bottom-color",
                        "border-right-width",
                        "border-right-style",
                        "border-right-color",
                        "border-left-width",
                        "border-left-style",
                        "border-left-color",
                        "border-top-width",
                        "border-top-style",
                        "border-top-color",
                        "border-block",
                        "border-block-width",
                        "border-block-style",
                        "border-block-color",
                        "border-block-start",
                        "border-block-start-width",
                        "border-block-start-style",
                        "border-block-start-color",
                        "border-block-end",
                        "border-block-end-width",
                        "border-block-end-style",
                        "border-block-end-color",
                        "border-inline",
                        "border-inline-width",
                        "border-inline-style",
                        "border-inline-color",
                        "border-inline-start",
                        "border-inline-start-width",
                        "border-inline-start-style",
                        "border-inline-start-color",
                        "border-inline-end",
                        "border-inline-end-width",
                        "border-inline-end-style",
                        "border-inline-end-color",
                        "border-radius",
                        "border-bottom-radius",
                        "border-right-radius",
                        "border-left-radius",
                        "border-top-radius",
                        "border-bottom-right-radius",
                        "border-bottom-left-radius",
                        "border-top-right-radius",
                        "border-top-left-radius",
                        "outline",
                        "outline-width",
                        "outline-style",
                        "outline-color",
                        "outline-offset"
                    ]
                },
                {
                    "groupName": "list",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "list-style",
                        "list-style-image",
                        "list-style-position",
                        "list-style-type",
                        "counter-increment",
                        "counter-reset",
                        "counter-set"
                    ]
                },
                {
                    "groupName": "font",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "font",
                        "font-family",
                        "font-size",
                        "font-size-adjust",
                        "font-feature-settings",
                        "font-kerning",
                        "font-language-override",
                        "font-optical-sizing",
                        "font-palette",
                        "font-smoothNon-standard",
                        "font-stretch",
                        "font-synthesis",
                        "font-synthesis-position",
                        "font-synthesis-small-caps",
                        "font-synthesis-style",
                        "font-synthesis-weight",
                        "font-variant",
                        "font-variant-alternates",
                        "font-variant-caps",
                        "font-variant-east-asian",
                        "font-variant-emoji",
                        "font-variant-ligatures",
                        "font-variant-numeric",
                        "font-variant-position",
                        "font-variation-settings",
                        "line-height",
                        "font-weight",
                        "font-style",
                        "letter-spacing",
                        "word-spacing",
                        "vertical-align",
                        "text-transform",
                        "text-underline-offset",
                        "text-underline-position",
                        "text-decoration",
                        "text-decoration-color",
                        "text-decoration-line",
                        "text-decoration-style",
                        "text-decoration-skipExperimental",
                        "text-decoration-skip-ink",
                        "text-decoration-thickness",
                        "text-align",
                        "text-align-last",
                        "text-emphasis",
                        "text-emphasis-color",
                        "text-emphasis-position",
                        "text-emphasis-style",
                        "text-combine-upright",
                        "text-wrap",
                        "white-space",
                        "word-break",
                        "line-break",
                        "writing-mode",
                        "hyphens",
                        "hyphenate-character",
                        "hyphenate-limit-chars",
                        "orphans",
                        "widows",
                        "text-justify",
                        "text-indent",
                        "text-orientation",
                        "text-rendering",
                        "text-size-adjustExperimental"
                    ]
                },
                {
                    "groupName": "image",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "image-orientation",
                        "image-rendering",
                        "image-resolutionExperimental",
                        "object-fit",
                        "object-position",
                        "aspect-ratio"
                    ]
                },
                {
                    "groupName": "style",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "color",
                        "opacity",
                        "caret-color",
                        "text-shadow",
                        "box-shadow"
                    ]
                },
                {
                    "groupName": "background",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "background",
                        "background-color",
                        "background-image",
                        "background-repeat",
                        "background-origin",
                        "background-attachment",
                        "background-position",
                        "background-position-x",
                        "background-position-y",
                        "background-size",
                        "background-clip",
                        "background-blend-mode"
                    ]
                },
                {
                    "groupName": "filters",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "filter",
                        "mix-blend-mode",
                        "backdrop-filter",
                        "paint-order",
                        "clip-path",
                        "offset",
                        "offset-anchor",
                        "offset-distance",
                        "offset-path",
                        "offset-position",
                        "offset-rotate",
                        "shape-image-threshold",
                        "shape-margin",
                        "shape-outside",
                        "mask",
                        "mask-border",
                        "mask-border-mode",
                        "mask-border-outset",
                        "mask-border-repeat",
                        "mask-border-slice",
                        "mask-border-source",
                        "mask-border-width",
                        "mask-clip",
                        "mask-composite",
                        "mask-image",
                        "mask-mode",
                        "mask-origin",
                        "mask-position",
                        "mask-repeat",
                        "mask-size",
                        "mask-type"
                    ]
                },
                {
                    "groupName": "appearance",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "appearance",
                        "resize",
                        "overscroll-behavior",
                        "overscroll-behavior-x",
                        "overscroll-behavior-y",
                        "overscroll-behavior-block",
                        "overscroll-behavior-inline",
                        "scrollbar-color",
                        "scrollbar-gutter",
                        "scrollbar-width",
                        "scroll-behavior",
                        "scroll-margin",
                        "scroll-margin-block",
                        "scroll-margin-block-end",
                        "scroll-margin-block-start",
                        "scroll-margin-bottom",
                        "scroll-margin-inline",
                        "scroll-margin-inline-end",
                        "scroll-margin-inline-start",
                        "scroll-margin-left",
                        "scroll-margin-right",
                        "scroll-margin-top",
                        "scroll-padding",
                        "scroll-padding-block",
                        "scroll-padding-block-end",
                        "scroll-padding-block-start",
                        "scroll-padding-bottom",
                        "scroll-padding-inline",
                        "scroll-padding-inline-end",
                        "scroll-padding-inline-start",
                        "scroll-padding-left",
                        "scroll-padding-right",
                        "scroll-padding-top",
                        "scroll-snap-align",
                        "scroll-snap-stop",
                        "scroll-snap-type"
                    ]
                },
                {
                    "groupName": "events",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "cursor",
                        "pointer-events",
                        "touch-action",
                        "user-select"
                    ]
                },
                {
                    "groupName": "overflow",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "overflow",
                        "overflow-x",
                        "overflow-y",
                        "text-overflow",
                        "visibility"
                    ]
                },
                {
                    "groupName": "transform",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "transform",
                        "transform-box",
                        "transform-origin",
                        "transform-style",
                        "translate",
                        "rotate",
                        "scale",
                        "transition",
                        "transition-delay",
                        "transition-duration",
                        "transition-property",
                        "transition-timing-function",
                        "transition-behaviorExperimental",
                        "perspective",
                        "perspective-origin",
                        "backface-visibility",
                        "animation",
                        "animation-name",
                        "animation-duration",
                        "animation-delay",
                        "animation-direction",
                        "animation-play-state",
                        "animation-timing-function",
                        "animation-fill-mode",
                        "animation-composition",
                        "animation-iteration-count",
                        "animation-rangeExperimental",
                        "animation-range-endExperimental",
                        "animation-range-startExperimental",
                        "animation-timelineExperimental"
                    ]
                },
                {
                    "groupName": "position",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "position",
                        "z-index",
                        "inset",
                        "bottom",
                        "right",
                        "left",
                        "top"
                    ]
                },
                {
                    "groupName": "container",
                    "emptyLineBefore": "always",
                    "noEmptyLineBetween": true,
                    "properties": [
                        "container",
                        "container-name",
                        "container-type"
                    ]
                }
            ],
            {
                "unspecified": "bottomAlphabetical",
                "emptyLineBeforeUnspecified": "always"
            }
        ]
    }
}
